.сity {
  font-size: 30px;
  font-weight: 600;
}
.emoji,
.temp-value {
  font-size: 48px;
}
.temp-type {
  color: #007bff;
  font-size: 18px;
  padding-top: 14px;
}
.poin {
  cursor: pointer;
}
.main-block {
  padding-left: 12rem;
  padding-right: 12rem;
}

.footer {
  position: absolute;
  bottom: 5rem;
  right: 50%;
  text-align: center;
}
